@import url("./general.css");

.NavBar {
  display: flex;
  color: white;
  font-size: 2.5vh;
  padding: 0 10vh;
}

.NavLogo {
  width: 100%;
  font-size: 4vh;
  font-weight: bold;
}

.NavItem {
  display: none;
  text-decoration: none;
  color: white;
}

/* ============== MEDIA QUERIES ============== */

@media (min-width: 768px) {
  .NavBar {
    justify-content: space-around;
    align-items: center;
  }

  .NavLogo {
    width: 50%;
  }

  .NavItem {
    display: inline-block;
  }
}
